@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

/* Elementos */
:root {
  --verde: #7db044;
  --naranja: #e7bb2c;
  --azul: #00008b;
  --amarillo: #f8df2d;
  --rojo: #d62c2c;
}

* {
  max-width: 100%;
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
}

.oculto {
  display: none;
}

.button, button {
  cursor: pointer;
  color: #fff;
  background-color: var(--main-color);
  border: unset;
  border-radius: .5rem;
  padding: 5px 15px;
}

.button:hover, button:hover{
  background-color: var(--second-color);
}

.default-btn {
  background-color: #fff;
  padding: 0px 10px;
  line-height: 30px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.default-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

.capitalize {
  text-transform: capitalize;
}

section.ant-layout {
  background: #fff;
}

#root .ant-layout-header {
  height: auto;
  background: unset;
}

.bold {
  font-weight: bold;
  color: var(--azul);
}

/* -- Filtro de tablas -- */
.ant-table-filter-dropdown-btns {
  display: inline-flex;
}
a.ant-table-filter-dropdown-link {
  padding: 5px;
}

#body-section {
  margin-top: 50px;
}

/*----------------------------*/
.ant-layout.ant-layout-has-sider {
  height: 100vh;
}

.ant-layout-sider-trigger {
  height: 32px;
  line-height: 32px;
}

ul.ant-pagination.ant-table-pagination {
  margin: 20px;
}

.ant-divider.ant-divider-horizontal {
  margin: 10px 0;
}

.ant-modal {
  max-width: 90%;
  min-width: fit-content;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

#header-section {
  width: 100%;
  z-index: 100;
  padding: 0;
}

#header-section * {
  background-color: unset;
}

#menu-show {
  margin-right: 15px;
  background-color: var(--azul);
  font-size: 20px;
  line-height: 20px;
  padding: 10px 15px;
  height: auto;
}

#header-section #nav-menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  color: var(--azul);
  justify-content: space-between;
  display: inline-flex;
  height: 100px;
}

#header-section #nav-menu .logo-img {
  background: url(./img/component/logo-h.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 80px;
  margin: auto;
}

#header-section #nav-menu .logo {
  margin: auto;
  padding: 10px;
  z-index: 100;
  margin-top: 0;
  height: 100px;
  background-color: var(--azul);
}

#lang-menu {
  margin: auto;
}

.idioma-responsive {
  text-align: center;
}

#dropdown-lang {
  display: flex;
  margin-right: 20px;
  border: unset;
  background-color: rgba(0, 0, 0, .1);
}

#dropdown-lang .btn-lang {
  margin: auto;
  width: 35px;
  border: unset;
}

#dropdown-lang svg {
  margin: 0px 0px 0px 10px;
}

.btn-lang.ant-btn:empty {
  visibility: visible;
}

#dropdown-lang * {
  border: unset;
  margin: auto;
  vertical-align: middle;
  height: auto;
}

.idioma {
  position: fixed;
  top: 80px;
  width: 80px;
}

.ant-dropdown.dropdown-content.ant-dropdown-placement-bottomLeft {
  top: 80px !important;
}

.idioma .ant-dropdown-menu-item-selected {
  background-color: #e3e3e3;
}

#menu-show {
  position: fixed;
  top: 25px;
  right: 0px;
  z-index: 1000;
  height: 50px;
  border: 2px solid #fff;
  font-weight: bold;
}

#header-section .social-bar {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 50px;
  left: 0;
  right: 0;
  margin-top: 50px;
}

.idioma li {
  text-align: center;
}

#header-section .social-bar .logo {
  margin: auto;
  padding: 10px;
  background-color: var(--azul);
  height: 100px;
  width: 250px;
  z-index: 101;
  top: -50px;
}

.redes-sociales {
  border: unset;
}

.redes-sociales a {
  height: 50px;
  width: inherit;
}

#header-section .social-bar .ant-menu-item {
  width: 50px;
  padding: 0;
  width: 50px;
  height: 50px;
}

#header-section .social-bar .redes-sociales .ant-menu-item:hover {
  background-color: #ffff;
  border: unset;
}

#header-section .social-bar .redes-sociales .ant-menu-item:hover .anticon-facebook svg{
  color: #3b5998;
}

#header-section .social-bar .redes-sociales .ant-menu-item:hover .anticon-instagram svg{
  color: #125688;
}

#header-section .social-bar .redes-sociales .ant-menu-item:hover .anticon-whats-app svg{
  color: #4dc247;
}

#header-section .social-bar .redes-sociales .ant-menu-item:hover .anticon-linkedin svg{
  color: #007bb5;
}

#header-section .social-bar .redes-sociales .ant-menu-item:hover .anticon-phone svg{
  color: var(--azul);
}

.social-bar>ul {
  color: #fff;
  border: unset;
}

#header-section .icon-social {
  color: #fff;
  height: 50px;
  width: inherit;
  margin: 0;
  text-align: center;
}

#header-section #nav-menu .idioma, #header-section #nav-menu .idioma .ant-menu-item {
  height: inherit;
}

#header-section #nav-menu .idioma .btn-lang, #dropdown-lang .btn-lang {
  height: 48px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#header-section #nav-menu .idioma #es, #es {
  background-image: url(./img/component/venezuela.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#header-section #nav-menu .idioma #pt, #pt {
  background-image: url(./img/component/brasil.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#header-section #nav-menu .idioma #en, #en {
  background-image: url(./img/component/eeuu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#header-section .submenu span svg {
  width: 10px;
  margin: 0;
  padding: 0;
}

/* Inicio */
#home #slider {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.slider-home {
  height: inherit;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slider-back {
  width: 100%;
}

.proyecto .ant-row {
  margin: 20px;
}

.text-important {
  text-align: center;
  font-size: 16px;
  padding: 15px;
}

.text-enfasis {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--azul);
}

.proyecto {
  padding: 20px;
}

.title-section span {
  font-size: 24px;
}

form.ant-form {
  max-width: 750px;
  margin: auto;
}

.oportunidades .registrar-curriculo {
  background-color: var(--verde);
}

.oportunidades .ant-col .subtitle {
  color: var(--azul);
}
.oportunidades .ant-col .title {
  font-size: 20px;
  color: var(--azul);
  font-weight: bold;
  margin-bottom: 0px;
}
.oportunidades .ant-col {
  padding: 30px;
  text-align: center;
}

.btn-icon {
  height: 100px;
  width: 100px;
  font-size: 50px;
  display: inline-flex;
  position: relative;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: var(--azul);
}

.btn-icon svg {
  margin: auto;
}

.btn-icon:hover {
  border: 2px solid var(--azul);
  color: var(--azul);
  background-color: #fff;
}

.btn-icon:focus {
  outline: none;
}

.oportunidades .registrar-empleo {
  background-color: var(--naranja);
}

.btn-add {
  color: #fff;
}

#btn-experiencia {
  background-color: var(--rojo);
}

#btn-curso {
  background-color: var(--verde);
}

#btn-formacion {
  background-color: var(--azul);
}

.informacion {
  background-color: var(--azul);
  padding: 30px;
  color: #fff;
}

.informacion .ant-col {
  padding: 20px;
}

.informacion .ant-divider {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

#info-note {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
}

.enfasis-text {
  text-decoration: underline;
  font-weight: 500;
  color: var(--azul);
}

#home #mapa {
  width: 100%;
  height: 300px;
}

#ofrecer-empleo {
  margin-top: 50px;
}

.empleo-form .title {
  text-align: center;
  color: var(--azul);
  font-size: 1.5rem;
}

#cultura-description .cultura-text p {
  font-weight: 500;
  color: #fff;
}

#cultura-description .cultura-text {
  padding: 20px; 
  background-color: rgba(0,0,0,0.8);
}

#cultura-description {
  background-image: url('./img/cultura-y-convivencia-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#contacto {
  margin-top: 50px;
}

#page-title {
  margin-top: 50px;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--azul);
  color: #fff;
}

#page-title-2 {
  margin-top: 50px;
  padding: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--verde);
  color: #fff;
}

#page-title-3 {
  margin-top: 50px;
  padding: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--rojo);
  color: #fff;
}

#contacto #mapa {
  width: 100%;
  height: 450px;
}

header {
  text-align-last: end;
}

.componente {
  margin: 20px !important;
  padding: 30px 20px;
  background-color: #fff;
}

#logout {
  border-radius: 5px;
  margin-right: 10px;
}

#logout:focus {
  outline: unset;
}

.tickets-card {
  margin-bottom: 20px;
  text-align: center;
}

#login {
  min-height: 100vh;
  background-color: var(--h-azul);
}

.ant-form-item-control-wrapper .ant-form-item-control {
  text-align: center;
}

.login {
  background-color: #fff;
  padding: 20px 10px;
}

.login .logo {
  text-align: center;
}

.login .logo img {
  max-width: inherit;
}

.login-form {
  padding: 20px 20px 0 20px;
}

table {
  width: 100%;
  margin-top: 20px;
}

table > * {
  margin: 5px;
}

tbody tr {
  line-height: 30px;
}

#filtro li {
  padding: 0;
}

#filtro span {
  padding: 15px;
}

.ant-table-content table {
  background-color: #fff;
}

.ant-table-content {
  padding: 0 20px;
}

/* Contacto */
#datos {
  margin: 25px;
}

#form-contact p {
  font-size: 20px;
  background-color: var(--azul);
  padding: 20px;
  color: #fff;
  text-align: center;
}

#cita {
  font-size: 22px;
  font-style: italic;
}

#autor {
  text-align: end;
  font-weight: bold;
  font-size: initial;
}

/* Footer */
footer.ant-layout-footer {
  width: 100%;
  padding: 0;
}

.footer {
  display: inline-flex;
  justify-content: space-between;
  line-height: 50px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  align-items: center;
}

.footer .copyright{
  text-align: center;
  font-weight: bold;
}

.footer .redes-sociales {
  text-align: end;
  background-color: unset;
}

/*--- Components ---*/
.slide {
  height: inherit;
  overflow: hidden;
  align-items: center;
}
.numbertext {
  position: relative;
  top: 560px;
  left: 20px;
  color: #fff;
  font-weight: bold;
  height: 0;
}

.active {
  background-color: #717171;
}

.dynamic-delete-button {
  line-height: 32px;
  margin: auto;
  padding: 0 5px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
